<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Keycloak Tokens</title>
</head>
<body>
    {% if "user_uid" not in session %}
        <div class="top-bar"></div>
        <div class="content">
            <div class="text">
                <p>Welcome! Please log in to continue.</p>
                <p><a href="{{ login_url }}">» Login</a></p>
            </div>
        </div>
    {% else %}
        <div class="top-bar">
            <div class="content">
                <a href="{{ logout_url }}">Logout</a>
            </div>
        </div>
        <div class="content">
            <div class="text">
            {% if offline_session %}
                <p>You have an active offline token.</p>
                <p>
                    <div class="item">
                        <span class="tag">Created:</span> {{ offline_session.start_time }}
                    </div>
                    <div class="item">
                        <span class="tag">Last used:</span> {{ offline_session.accessed_time }}
                    </div>
                    <div class="item">
                        <a href="{{ invalidate_url }}">» Invalidate token</a>
                    </div>
                </p>
            {% else %}
                <p>You currently don't have an offline token set up.</p>
                <p><a href="{{ token_url }}">» Create an offline token</a></p>
            {% endif %}

            {% if offline_token %}
                <br/>
                <p>Your token:</p>
                <p class="token">{{ offline_token }}</p>
            {% endif %}
            </div>
        </div>
    {% endif %}
</body>
</html>